*{
	margin: 0px;
	padding: 0px;
}
.container img{
	position: absolute;
	top: 0;
	left: 0;
	display: none; 
}
.container .block{ 
	display: block;
}
.container1 {
	width: 480px;
	margin: 0 auto;
	position: relative;
}
.button{
	display: flex;
	width: 70px;
	margin: 0 auto;
	padding-top: 320px;
}
.prev {
	margin-right: 10px;
}